header > a > img{
    max-height: 65px;
}

:root{
    --indexColorHighLight: ;
    --indexColorMain: #646464;
    --indexColorBkGrd: ;
    --indexColorOppst: ;

    --bookColorHighLight: ;
    --bookColorMain: ;
    --bookColorBkGrd: ;
    --bookColorOppst: ;
}

/*nsf   light 67BD45
        dark 1F431E

  gtf   light FBFAE4
        dark 700037

  evf   highlight FF0000
        main CE0000
        background faebd7
        opposite FEDF04


  pbf   main FEDF04    
        dark F06623 
  
  index main 5bc0eb
        dark 083d77
        */

.padding{
    height: 200px;
    background-color: rebeccapurple;
}
.heading{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    background-color: var(--indexColorMain);
    width: 100vw;
    position: relative;
    height: 40%;
}
.headingImages{
    width: 100vw;
    max-height: 400px;
    overflow-y: hidden;
}
.headingImages > img{
    width: 100vw;
    position: relative;
}
.heading > h1{
    position: absolute;
    z-index: 10;
    top: 15vw;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
}
.heading > h2{
    position: absolute;
    z-index: 10;
    top: 4vw;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    font-size: 1rem;
}
.indexHeader{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--indexColorMain);
    position: sticky;
    bottom: 0;
    z-index: 10;
}
.indexHeader > img{
    max-height: 65px;
}
.recipesHeader{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bookColorMain);
    position: sticky;
    top: -1px;
}
.navButton{
    display: block;
}
.navButton > img{
    max-height: 50px;
}
.navText{
    display: none;
}
.dropMenu{
    position: absolute;
    top: 73px;
    right: 20px;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
    border: solid 2px;
    border-color: var(--bookColorHighLight);
    outline: solid 1px;
    outline-color: white;
    box-shadow: 5px 5px var(--bookColorMain);
    background-color: var(--bookColorBkGrd);
    text-decoration: none;
    color: rgb(69, 69, 69);
    font-weight: 600;
}
.dropMenu.show{
    display: flex;
}
.dropMenu > a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(69, 69, 69);
}
.dropMenu > a:hover{
    color: rgb(0, 0, 0);
}
.dropMenu > a:active{
    color: var(--bookColorOppst);
}



@media (min-width: 449px) {  /*MOBILE FIRST!!!*/
.navText{
    display: flex;
    gap: 10px
}
.navButton, .dropMenu, .dropMenu.show{
    display: none;
}
.navText > a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(226, 226, 226);
}
.navText > a:hover{
    color: rgb(255, 255, 255);
}
.navText > a:active{
    color: rgb(255, 247, 0);
}
}

