:root{
    --indexColorHighLight: ;
    --indexColorMain: #696969;
    --indexColorBkGrd: ;
    --indexColorOppst: ;

    --bookColorHighLight: red;
    --bookColorMain: #696969;
    --bookColorBkGrd: white;
    --bookColorOppst: ;
}

/*nsf   light 67BD45
        dark 1F431E

  gtf   light FBFAE4
        dark 700037

  evf   highlight FF0000
        main CE0000
        background faebd7
        opposite FEDF04


  pbf   main FEDF04    
        dark F06623 
  
  index main 5bc0eb
        dark 083d77
        */

body{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(69, 69, 69);
}
h2{
    font-size: 0.8rem;
}
h3{
    font-size: 1.3rem;
}
h4{
    font-size: 1rem;
}
h3, h4{
    color: #696969;    
}
p{
    margin: 0;
}
button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
a:link {
  text-decoration: none;
}









@media (min-width: 449px) { /*MOBILE FIRST!!!*/

}