.heading{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    background-color: var(--indexColorMain);
    width: 100vw;
    position: relative;
}
.headingImages{
    width: 100vw;
    max-height: 400px;
    overflow-y: hidden;
}
.headingImages > img{
    height: 300px;
    position: relative;
}
.heading > h1{
    position: absolute;
    z-index: 10;
    top: 30vw;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    font-family: "Ranchers", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-shadow: 0 1px #808d93,
       	              -1px 0 #cdd2d5,
       	              -1px 2px #808d93,
       	              -2px 1px #cdd2d5,
       	              -2px 3px #808d93,
       	              -3px 2px #cdd2d5,
       	              -3px 4px #808d93,
       	              -4px 3px #cdd2d5,
       	              -4px 5px #808d93,
       	              -5px 4px #cdd2d5,
       	              -5px 6px #808d93,
       	              -6px 5px #cdd2d5,
       	              -6px 7px #808d93,
       	              -7px 6px #cdd2d5,
       	              -7px 8px #808d93,
       	              -8px 7px #cdd2d5;
}
.heading > p{
    position: absolute;
    z-index: 10;
    top: 25vw;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    font-size: 1rem;
}
.indexNav{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--indexColorMain);
    position: sticky;
    bottom: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: opacity 300ms ease-in-out, 
                transform 300ms ease-in-out,
                visibility 0s 300ms;
}
.indexNav.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(1%);
    transition: opacity 300ms ease-in-out, 
                transform 300ms ease-in-out,
                visibility 0s 0s;
}
.indexNavTop{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
}
.recipesHeader{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bookColorMain);
    position: sticky;
    top: -1px;
}
.navButton{
    display: block;
}
.navButton > img{
    max-height: 40px;
}
.navText{
    display: none;
}
.dropMenu{
    position: absolute;
    bottom: 50px;
    right: 20px;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
    border: solid 2px;
    border-color: var(--bookColorHighLight);
    outline: solid 1px;
    outline-color: white;
    box-shadow: 5px 5px var(--bookColorMain);
    background-color: var(--bookColorBkGrd);
    text-decoration: none;
    color: rgb(69, 69, 69);
    font-weight: 600;
}
.dropMenuTop{
    top: 40px;
    right: 20px;
    text-align: left;
    font-size: 1rem;
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
    border: solid 2px;
    border-color: var(--bookColorHighLight);
    outline: solid 1px;
    outline-color: white;
    box-shadow: 5px 5px var(--bookColorMain);
    background-color: var(--bookColorBkGrd);
    text-decoration: none;
    color: rgb(69, 69, 69);
    font-weight: 600;
}
.dropMenu.show, .dropMenuTop.show{
    display: flex;
}
.dropMenu > a, .dropMenuTop > a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(69, 69, 69);
}
.dropMenu > a:hover{
    color: rgb(0, 0, 0);
}
.dropMenu > a:active{
    color: var(--bookColorOppst);
}
nav > p{
    color: white;
    padding-bottom: 10px;
    margin: 5px;
    font-family: "Ranchers", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-shadow: 0 1px #808d93,
       	              -1px 0 #cdd2d5,
       	              -1px 2px #808d93,
       	              -2px 1px #cdd2d5,
       	              -2px 3px #808d93,
       	              -3px 2px #cdd2d5,
       	              -3px 4px #808d93,
       	              -4px 3px #cdd2d5,
       	              -4px 5px #808d93,
       	              -5px 4px #cdd2d5,
       	              -5px 6px #808d93,
       	              -6px 5px #cdd2d5,
       	              -6px 7px #808d93,
       	              -7px 6px #cdd2d5,
       	              -7px 8px #808d93,
       	              -8px 7px #cdd2d5;
}

@media (min-width: 449px) {  /*MOBILE FIRST!!!*/
.navText{
    display: flex;
    gap: 10px
}
.navButtons, .navButton, .dropMenu, .dropMenu.show{
    display: none;
}
.navText > a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(226, 226, 226);
}
.navText > a:hover{
    color: rgb(255, 255, 255);
}
.navText > a:active{
    color: rgb(255, 247, 0);
}
}

