#recipeContainer{
    margin: 20px;
}

.recipeTitle{
    margin-bottom: 0;
}
.restaurantTitle{
    margin: 5px 0 25px 0;
}
.heroImg{
    width: 100%;
    border: solid 2px;
    border-color: var(--bookColorHighLight);
    outline: solid 1px;
    outline-color: white;
    box-shadow: -7px -7px var(--bookColorMain);
    margin-bottom: 35px;
}
.recipeDetails{
    border: solid 2px;
    border-color: var(--bookColorHighLight);
    outline: solid 1px;
    outline-color: white;
    box-shadow: 7px 7px var(--bookColorMain);
    padding: 10px;
    margin-bottom: 35px;
    text-transform: capitalize;
    display: grid;
    grid-template-areas: 
    "tl tr"
    "bl br";
    gap: 5px
}
.tl{
    grid-area: tl;
}
.tr{
    grid-area: tr;
}
.bl{
    grid-area: bl;
}
.br{
    grid-area: br;
}
.ingredLst{
    border: solid 2px;
    border-color: var(--bookColorHighLight);
    outline: solid 1px;
    outline-color: white;
    box-shadow: -7px -7px var(--bookColorMain);
    padding: 10px;
    margin-bottom: 35px;
}
.ingredLst ul{
    list-style-type: none;
    padding: 0;
}
.ingredLstSectName{
    margin-bottom: 5px;
}
.ingredLstSectName:not(:first-child){
    margin-top: 10px;
}
.ingredItem{
    list-style-type: none;
    padding: 0;
}
.method{
    margin-top: 5px;
}
.methodLst{
    border: solid 2px;
    border-color: var(--bookColorHighLight);
    outline: solid 1px;
    outline-color: white;
    box-shadow: 7px 7px var(--bookColorMain);
    padding: 10px;
}
.mthdLstSectName{
    margin-bottom: 5px;    
}
.mthdLstSectName:not(:first-child){
    margin-top: 10px;
}
.recipesHeader > h1{
    color: white;
    padding-bottom: 10px;
    margin: 5px;
    font-family: "Ranchers", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-shadow: 0 1px #808d93,
       	              -1px 0 #cdd2d5,
       	              -1px 2px #808d93,
       	              -2px 1px #cdd2d5,
       	              -2px 3px #808d93,
       	              -3px 2px #cdd2d5,
       	              -3px 4px #808d93,
       	              -4px 3px #cdd2d5,
       	              -4px 5px #808d93,
       	              -5px 4px #cdd2d5,
       	              -5px 6px #808d93,
       	              -6px 5px #cdd2d5,
       	              -6px 7px #808d93,
       	              -7px 6px #cdd2d5,
       	              -7px 8px #808d93,
       	              -8px 7px #cdd2d5;
}


@media (min-width: 449px) {  /*MOBILE FIRST!!!*/

}

