main{
    margin: 0 auto;
}
.aboutContainer{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.aboutContainer > p{
    padding: 5px;
}
.aboutContainer > img{
    margin-top: 10px;
}
.aboutContainer > h1{
    font-size: 1rem;
}
@media (min-width: 449px) {
.aboutContainer{ 
    margin: 10px 40px;
}
}
@media (min-width: 800px) {
.aboutContainer{ 
    margin: 10px 60px;
}
}
@media (min-width: 1000px) {  /*MOBILE FIRST!!!*/
main{
    display: flex;
    justify-content: center;
}
.aboutContainer{
    display: flex;
    max-width: 800px;
}
}